.examples {
  position: relative;
  padding: 30px 0;
  padding-bottom: 45px;
}

.examples__box {
  position: relative;
  padding: 0 20px;
  padding-bottom: 70px;

  &::before {
    @include pseudo;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 40px;
    background-image: url("../../img/examples__box-mobile.svg");
  }
}

.examples__inner {
  margin-bottom: 60px;
}

.examples__title {
  margin-bottom: 20px;
}

.examples__desc {
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
}

.examples__wrap {
  margin-bottom: 48px;
}

.examples__tasks {
  padding: 14px 20px;
  padding-bottom: 71px;
  color: #ffffff;
  background-color: #2295ff;
}

.examples__number {
  font-weight: 900;
  font-size: 36px;
  line-height: 49px;
  background: linear-gradient(168.63deg, #ffda67 48.57%, #ff7638 80.22%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.examples__subtitle {

  max-width: 261px;
  margin-bottom: 10px;
  font-weight: 900;
  font-size: 28px;
  line-height: 33px;
  font-family: $second-font;
  text-transform: uppercase;

  & span {
    line-height: 38px;
    font-family: $first-font;
  }
}

.examples__description {
  margin-bottom: 30px;
  font-size: 16px;
  line-height: 21px;
}

.examples__list {
  @include list-reset;
}

.examples__item {
  &:not(:last-child) {
    margin-bottom: 40px;
  }
}

.examples__text {
  font-size: 18px;
  line-height: 24px;

  &--title {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    font-weight: 700;
  }

  &--title::before {
    @include pseudo;
    width: 28px;
    height: 27px;
    margin-right: 20px;
  }

  &--title-top::before {
    background-image: url("../../img/question.svg");
  }

  &--title-bottom::before {
    background-image: url("../../img/success.svg");
  }

  &--result {
    position: relative;
    padding-left: 34px;

    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }

  &--result::before {
    content: "";
    position: absolute;
    top: 13px;
    left: 0;
    min-width: 20px;
    height: 1px;
    background-color: #ffffff;
  }
}

.examples__result {
  position: relative;
  padding: 26px 20px;
  padding-right: 108px;
  padding-bottom: 37px;
  color: #ffffff;
  background-color: #0e5b74;

  &::before {
    @include pseudo;
    position: absolute;
    top: -24px;
    left: 0;
    width: 100%;
    height: 25px;
    background-image: url("../../img/examples__result-top@mobile.svg");
    background-position: top;
    background-size: cover;
  }

  &::after {
    @include pseudo;
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 100%;
    height: 11px;
    background-image: url("../../img/examples__result-bottom@mobile.svg");
    background-position: top;
    background-size: cover;
  }
}

.examples__name {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 20px;
  line-height: 27px;
}

.examples__image {
  line-height: 0;
}

.examples__control {
  padding: 0 20px;
}

@media (min-width: 1200px) {
  .examples {
    @include page-wrapper;
    padding-top: 168px;
    padding-bottom: 80px;

    &::before {
      @include pseudo;
      position: absolute;
      top: -1px;
      left: 0;
      width: 100%;
      height: 81px;
      background-image: url("../../img/examples__top-desktop.svg");
      background-position: top;
      background-size: cover;
    }
  }

  .examples__box {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    padding-left: 70px;

    &::before {
      display: none;
    }
  }

  .examples__inner {
    width: 440px;
    margin-bottom: 0;
  }

  .examples__desc {
    display: flex;
    align-items: center;

    &::before {
      content: "";
      width: 20px;
      height: 1px;
      margin-right: 14px;
      background-color: $main-color;
    }
  }

  .examples__wrapper {
    margin-left: 103px;
  }

  .examples__wrap {
    position: relative;
    display: flex;
    margin-bottom: 92px;
  }

  .examples__tasks {
    position: relative;
    min-width: 614px;
    padding: 58px 42px;
    padding-top: 44px;
    padding-left: 71px;

    &::before {
      @include pseudo;
      position: absolute;
      top: -32px;
      left: 0;
      z-index: -1;
      width: 100%;
      height: 32px;
      background-image: url("../../img/examples__tasks-top.svg");
      background-position: top;
      background-size: cover;
    }

    &::after {
      @include pseudo;
      position: absolute;
      bottom: -19px;
      left: 0;
      z-index: -1;
      width: 100%;
      height: 20px;
      background-image: url("../../img/examples__tasks-bottom.svg");
      background-position: top;
      background-size: cover;
    }
  }

  .examples__container {
    display: flex;
    align-items: center;
    margin-bottom: 12px;
  }

  .examples__subtitle {
    max-width: 306px;
    margin-bottom: 0;
    margin-left: 20px;
  }

  .examples__description {
    display: flex;
    align-items: center;
    margin-bottom: 40px;

    &::before {
      content: "";
      width: 20px;
      height: 1px;
      margin-right: 14px;
      background-color: #ffffff;
    }
  }

  .examples__image {
    margin-top: -110px;
  }

  .examples__result {
    position: absolute;
    bottom: -28px;
    left: 565px;
    width: 404px;
    padding: 40px 35px;
    padding-top: 32px;

    &::before {
      @include pseudo;
      position: absolute;
      top: -22px;
      left: 0;
      width: 100%;
      height: 23px;
      background-image: url("../../img/examples__result-top@desktop.svg");
      background-position: top;
      background-size: cover;
    }

    &::after {
      @include pseudo;
      position: absolute;
      bottom: -9px;
      left: 0;
      width: 100%;
      height: 10px;
      background-image: url("../../img/examples__result-bottom@desktop.svg");
      background-position: top;
      background-size: cover;
    }
  }

  .examples__control {
    max-width: 407px;
    margin: 0 auto;
  }
}
