.send {
  position: relative;
  padding-top: 62px;
  padding-bottom: 75px;

  &--privacy {
    padding-right: 15px;
    padding-left: 15px;
  }

  &--top::before {
    @include pseudo;
    position: absolute;
    top: -1px;
    left: 0;
    width: 100%;
    height: 24px;
    background-image: url("../../img/send-top__top-bottom.svg");
  }

  &--top::after {
    @include pseudo;
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 100%;
    height: 46px;
    background-image: url("../../img/send-top__bottom-mobile.svg");
    background-size: cover;
  }

  &--bottom {
    padding-top: 75px;
    padding-bottom: 98px;
  }

  &--bottom::before {
    @include pseudo;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 15px;
    background-image: url("../../img/send__top-mobile.svg");
    background-position: bottom;
    background-size: cover;
  }

  &--bottom::after {
    @include pseudo;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 32px;
    background-image: url("../../img/send__bottom-mobile-bottom.svg");
  }

  &--modal {
    padding: 0;
  }
}

.send__box {
  margin-bottom: 40px;

  &--bottom {
    margin-bottom: 0;
  }

  &--modal {
    margin: 0;
    margin-bottom: 30px;
  }

  &--accepted {
    margin-bottom: 0;
  }
}

.send__title {
  margin-bottom: 67px;
  padding-right: 17px;
  padding-left: 18px;

  & span {
    display: block;
    font-weight: 700;
    font-size: 18px;
    line-height: 190%;
  }

  &--modal {
    margin-bottom: 20px;
    padding: 0;
  }

  &--modal span {
    font-size: 18px;
    line-height: 21px;
  }
}

.send__text {
  margin-bottom: 60px;
  padding: 0 20px;
  font-size: 18px;
  line-height: 24px;

  & b {
    font-weight: 700;
  }

  &--modal {
    margin: 0;
    padding: 0;
  }
}

.send__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-right: 68px;
  padding-left: 56px;

  &--modal {
    margin-bottom: 0;
    padding: 0;
  }
}

.send__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 28px;
}

.send__tel {
  margin-bottom: 50px;
  padding: 0;
  font-weight: 400;
  font-size: 28px;
  line-height: 37px;
  text-align: center;
  letter-spacing: 0.06em;
  background: linear-gradient(141.63deg, #ffd44d 22.52%, #ff844d 95.16%);
  background-clip: text;
  border: none;
  -webkit-text-fill-color: transparent;
}

.send__checkbox {
  max-width: 190px;

  &--bottom {
    display: none;
  }
}

.send__image {
  width: 343px;
  height: 345px;
  margin: 0 auto;
}

@media (min-width: 400px) {
  .send {
    &--top {
      &::before {
        background-image: url("../../img/send-top__top-desktop.svg");
        background-position: bottom;
        background-size: cover;
      }

      &::after {
        background-image: url("../../img/send-top__bottom-desktop.svg");
        background-position: top;
        background-size: cover;
      }
    }

    &--bottom {
      &::before {
        background-image: url("../../img/send__top-desk.png");
      }
    }
  }
}

@media (min-width: 768px) {
  .send {
    &--top {
      display: flex;
      flex-direction: row;
      align-items: flex-end;
    }
  }
}

@media (min-width: 1200px) {
  .send {
    display: flex;
    padding-top: 125px;
    padding-right: calc(50% - 620px);
    padding-bottom: 106px;
    padding-left: calc(50% - 500px);

    &--bottom {
      padding-top: 166px;
      padding-bottom: 180px;
      padding-left: calc(50% - 529px);
    }

    &--bottom::before {
      height: 35px;
      background-position: top;
      background-size: cover;
    }

    &--bottom::after {
      @include pseudo;
      position: absolute;
      bottom: -1px;
      left: 0;
      width: 100%;
      height: 32px;
      background-image: url("../../img/send__bottom-desktop-bottom.svg");
      background-position: top;
      background-size: cover;
    }

    &--top::before {
      top: -1px;
      left: 0;
      width: 100%;
      height: 49px;
    }

    &--top::after {
      bottom: -1px;
      left: 0;
      width: 100%;
      height: 46px;
      background-position: top;
      background-size: cover;
    }

    &--modal {
      padding: 0;
    }
  }

  .send__container {
    position: relative;
  }

  .send__box {
    &--bottom {
      width: 613px;
    }
  }

  .send__title {
    position: relative;
    z-index: 100;
    margin-bottom: 47px;
    padding: 0;
    font-size: 54px;
    line-height: 63px;

    & span {
      font-size: 24px;
    }

    &--bottom {
      margin-bottom: 40px;
      font-size: 48px;
      line-height: 56px;
    }

    &--bottom span b {
      font-weight: 900;
      font-size: 24px;
      line-height: 190%;
      font-family: $first-font;
    }

    &--modal {
      margin-bottom: 42px;
      font-size: 46px;
      line-height: 54px;
    }
  }

  .send__text {
    position: relative;
    max-width: 400px;
    margin-bottom: 70px;
    padding: 0;
    padding-left: 34px;
    font-size: 18px;
    line-height: 24px;

    &--bottom {
      max-width: 447px;
      margin-bottom: 60px;
    }

    &::before {
      content: "";
      position: absolute;
      top: 12px;
      left: 0;
      min-width: 20px;
      height: 1px;
      background-color: $main-color;
    }

    &--modal {
      margin: 0;
    }

    &--accepted::before {
      background-color: #ffffff;
    }
  }

  .send__form {
    align-items: inherit;
    padding: 0;

    &--modal {
      align-items: flex-start;
      margin-bottom: 0;
    }
  }

  .send__tel {
    width: 100%;
    margin: 0;
    text-align: left;
  }

  .send__button {
    margin: 0;
    margin-left: 20px;

    .contact-me__text {
      text-align: left;
      color: #0e5b74;
    }

    svg {
      fill: #ffffff;
    }

    &:hover {
      svg {
        fill: #000000;
      }

      .contact-me__button {
        background-image: url("../../img/phone__background-hover.svg");
      }
    }
  }

  .send__inner {
    z-index: 100;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 14px;

    &--modal {
      margin-bottom: 20px;
    }
  }

  .send__checkbox {
    max-width: inherit;

    &--bottom {
      display: block;
    }
  }

  .send__image {
    min-width: 595px;
    height: 604px;

    &--bottom {
      position: absolute;
      top: -10%;
      right: -525px;
      z-index: -1;
      width: 652px;
    }
  }

  .send__img {
    object-position: 0 -13px;

    &--bottom {
      object-position: 0;
    }
  }
}
