.card-price {
  position: relative;
}

.card-price__wrap {
  position: relative;
  padding: 44px 20px;
  background-color: #90caff;

  &::before {
    @include pseudo;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 20px;
    background-image: url("../../img/card-top.png");
    background-position: top;
    background-size: cover;
  }

  &::after {
    @include pseudo;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 31px;
    background-image: url("../../img/card-bottom.png");
    background-position: bottom;
    background-size: cover;
  }
}

.card-price__container {
  padding: 33px 17px 43px 18px;
  background-color: #ffffff;

  &--main {
    padding-bottom: 32px;
    padding-left: 23px;
  }
}

.card-price__name {
  max-width: 228px;
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;

  & b {
    font-size: 24px;
    line-height: 32px;
  }
}

.card-price__list {
  @include list-reset;
  margin-bottom: 34px;
}

.card-price__item {
  position: relative;
  padding-left: 20px;
  font-size: 16px;
  line-height: 21px;

  &:not(:last-child) {
    margin-bottom: 12px;
  }

  &::before {
    content: "";
    position: absolute;
    top: 10px;
    left: 0;
    min-width: 8px;
    height: 1px;
    background-color: #1e89e3;
  }
}

.card-price__box {
  margin-bottom: 30px;

  &--main .card-price__text--icon {
    margin-bottom: 10px;
  }
}

.card-price__text {
  font-size: 16px;
  line-height: 21px;


  & b {
    font-weight: 700;
  }

  &--icon {
    display: flex;
    align-items: center;
  }

  &--icon::before {
    @include pseudo;
    min-width: 14px;
    height: 14px;
    margin-right: 10px;
    background-image: url("../../img/clock-price.svg");
  }
}

.card-price__cost {
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
}

.card-price__button {
  position: relative;
  max-width: 336px;
  margin: 0 auto;
  margin-top: -30px;

  &--main {
    margin-top: 6px;
  }
}

@media (min-width: 1200px) {
  .card-price__wrap {
    padding: 44px 13px;
  }

  .card-price__container {
    padding: 33px 30px;
    padding-bottom: 40px;

    &--main {
      padding-bottom: 31px;
    }
  }

  .card-price__name {
    margin-bottom: 24px;
  }

  .card-price__button {
    position: relative;
    z-index: 10000;
    margin: 0;
    margin-top: -32px;
  }
}
