.contact-me {
  display: flex;
  align-items: flex-end;
  max-width: 221px;
  padding: 0;
  background: transparent;
  border: none;
  cursor: pointer;
  appearance: none;

  &--bottom {
    width: 320px;
    min-width: 320px;
  }

  svg {
    fill: #ffffff;
  }

  &:hover {
    svg {
      fill: #000000;
    }

    .contact-me__button {
      background-image: url("../../img/phone__background-hover.svg");
    }
  }
}

.contact-me__text {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding-bottom: 10px;
  font-size: 20px;
  line-height: 27px;

  & b {
    font-weight: 700;
  }

  &--price {
    padding-bottom: 0;
  }

  &::after {
    @include pseudo;
    width: 20px;
    height: 8px;
    margin-top: 10px;
    background-image: url("../../img/Arrow.svg");
  }

  &--bottom::after {
    display: none;
  }
}

.contact-me__button {
  min-width: 113px;
  height: 113px;
  margin-left: 15px;
  padding: 42px 32px 23px 33px;
  background-image: url("../../img/phone__background.svg");
  background-repeat: no-repeat;
  transition: all 0.3s;

  &:hover {
    background-image: url("../../img/phone__background-hover.svg");
  }

  &--price {
    margin-left: auto;
  }

  &--dark {
    background-image: url("../../img/phone__background-dark.svg");
  }

  &--dark:hover {
    background-image: url("../../img/phone__background-dark-hover.svg");
  }
}

@media (min-width: 1200px) {
  .contact-me__text {
    &--price br {
      display: none;
    }
  }
}

